.wrapper{
  flex-basis: 45%;
  background: #67676730;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  img{
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}